# Default ignored files
/shelf/
/.idea/
/target/classes/ar/edu/cuvl/controller/AdministradorClientes.class
/target/classes/ar/edu/cuvl/controller/AdministradorPedidos.class
/target/classes/ar/edu/cuvl/controller/AdministradorRobots.class
/target/classes/ar/edu/cuvl/model/AsignadorRobot.class
/target/classes/ar/edu/cuvl/model/Classic.class
/target/classes/ar/edu/cuvl/model/Cliente.class
/target/classes/ar/edu/cuvl/model/Economic.class
/target/classes/ar/edu/cuvl/model/Empresa.class
/target/test-classes/ar/edu/cuvl/model/EmpresaTest.class
/target/classes/ar/edu/cuvl/exception/ExisteClienteException.class
/target/classes/ar/edu/cuvl/model/robot/K311YA.class
/target/classes/ar/edu/cuvl/model/robot/K311YFL.class
/target/classes/ar/edu/cuvl/model/robot/K311YFU.class
/target/classes/ar/edu/cuvl/model/type/Limpieza.class
/target/classes/ar/edu/cuvl/model/LimpiezaCompleja.class
/target/classes/ar/edu/cuvl/model/LimpiezaSimple.class
/target/classes/ar/edu/cuvl/Main.class
/target/classes/ar/edu/cuvl/model/Mueble.class
/target/classes/ar/edu/cuvl/exception/NoPuedeArmarListaRobotException.class
/target/classes/ar/edu/cuvl/exception/NoSePuedeAgregarAListaException.class
/target/classes/ar/edu/cuvl/model/robot/P011H.class
/target/classes/ar/edu/cuvl/model/Pedido.class
/target/classes/ar/edu/cuvl/exception/PedidoInvalidoException.class
/target/classes/ar/edu/cuvl/model/Piso.class
/target/classes/ar/edu/cuvl/model/Platinum.class
/target/classes/ar/edu/cuvl/model/Robot.class
/target/classes/ar/edu/cuvl/model/robot/S031RTY.class
/target/classes/ar/edu/cuvl/model/type/Servicio.class
/target/classes/ar/edu/cuvl/model/type/Superficie.class
/target/classes/ar/edu/cuvl/model/TipoLimpieza.class
/target/classes/ar/edu/cuvl/model/TipoServicio.class
/target/classes/ar/edu/cuvl/model/TipoSuperficie.class
/target/classes/ar/edu/cuvl/validator/ValidadorPedido.class
/target/